/* Table of contents styling */

.toc {
  page-break-after: always;
}

nav#TOC {
  page-break-after: always;
  margin-top: 1em;
}

nav#TOC > ul {
  list-style: none;
  padding-left: 0;
}

nav#TOC ul {
  list-style: none;
}

nav#TOC > ul > li {
  margin-bottom: 0.4em;
  font-weight: 600;
  font-size: 11pt;
}

nav#TOC > ul > li > ul > li {
  font-weight: 400;
  font-size: 10pt;
  margin-bottom: 0.2em;
  padding-left: 1.2em;
}

nav#TOC > ul > li > ul > li > ul > li {
  font-size: 9pt;
  color: #555;
  padding-left: 1.2em;
}

nav#TOC a {
  color: #1a1a1a;
  text-decoration: none;
}

nav#TOC a:hover {
  color: #2563eb;
}

nav#TOC a::after {
  content: target-counter(attr(href), page);
  float: right;
  color: #999;
  font-size: 9pt;
}
